/* css reset */
@import url('reset.css');

/* ---------- default ---------- */

h1{
	font-size: 1.5em;
	font-weight: bold;
}

h2 {
	font-size: 1.25em;
	font-weight: bold;
}

h3 {
	font-size: 1em;
	font-weight: bold;
}

p {
	font-size: 1em;
}

/* ---------- header ---------- */

/* ---------- navigation ---------- */

/* ---------- footer ---------- */

/* ---------- home ---------- */

/* ---------- vacation ---------- */

/* ---------- relocate ---------- */

/* ---------- events ---------- */

/* ---------- contact ---------- */

/* ---------- about ---------- */