/* css reset */
@import url('reset.css');

/* ---------- default ---------- */

h1{
	font-size: 1.5em;
	font-weight: bold;
	margin: 10px 0;
}

h2 {
	font-size: 1.25em;
	font-weight: bold;
	margin: 10px 0;
}

h3 {
	font-size: 1em;
	font-weight: bold;
	margin: 10px 0;
}

p {
	font-size: 1em;
	margin: 10px 0;
}

ul {
	list-style-type: circle;
	margin: 10px 0;
	padding: 0 0 0 25px;
}

/* ---------- header ---------- */

/* ---------- navigation ---------- */

/* ---------- footer ---------- */

/* ---------- home ---------- */

/* ---------- vacation ---------- */

/* ---------- relocate ---------- */

/* ---------- events ---------- */

/* ---------- contact ---------- */

/* ---------- about ---------- */